.alert:last-child,
blockquote:last-child,
ol:last-child,
p:last-child,
ul:last-child {
  margin-bottom: 0;
}

.footer .footer-menu {
  list-style: none;
  margin: 0 -1.5625rem;
  padding: 0;
  font-size: 0;
  line-height: 1.5;
}

.footer .footer-menu li {
  display: inline;
}

.footer .footer-menu a {
  display: inline-block;
  font-family: Arimo, sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.125rem;
  font-weight: 700;
  margin: 0 1.5625rem;
  color: #c7cbd0;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  background-color: transparent;
}

.footer .footer-menu a:hover {
  color: #ffc107;
}

.footer .brand-icons-list {
  display: flex;
  margin: -0.625rem;
}

.footer .brand-icons-list .brand-icon {
  margin: 0.625rem;
  display: inline-flex;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  color: #c7cbd0;
  text-decoration: none;
}

.footer .brand-icons-list .brand-icon:hover {
  color: #ffc107;
}

